@{
    ViewData["Title"] = "About DevSlop";
}
<h2>@ViewData["About"].</h2>
<h3>@ViewData["OWASP DevSlop Tool Project"]</h3>

<p><h3>OWASP DevSlop Tool Project</h3></p>

<p>
    Learning by teaching and doing.
    <br><br>
    The DevSlop Project (Sloppy-DevOps) is a project created by two friends who wanted to learn how to weave security
    through DevOps. How can we add automated security testing to a pipeline? How does one do security testing on
    DevOps systems?  How do we secure the cloud?  How can we hack APIs?  All of these questions and more are
    what we attempt to answer via
    <a href="https://devslop.co/Home/Schedule">public talks and workshops</a>,
    <a href="https://aka.ms/DevSlopShow">our videos</a>, our <a href="https://devslop.co/Home/Schedule">
    pipelines and apps</a>
    <br><br>
    Thanks for visiting our website!
</p> 
