@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
               <div class="content-body">
            <div class="success-text">Welcome to OWASP DevSlop</div>
             <div class="description line-2"> Learn DevSecOps by using these tools!</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>DevSlop Project Modules </h2>
        <p>
            We have many different parts to our project, called <a asp-area="" asp-controller="Home" asp-action="Modules">Modules</a>, figure out which one works for you.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Watch the DevSlop Show!</h2>
        <p>
             We stream LIVE every Sunday from 1-2 pm, Eastern Standard Time on
            <a href="https://aka.ms/DevSlop-Mixer">Mixer</a> and <a href="https://aka.ms/DevSlopTwitch">Twitch</a>!
            <br /> You can catch the shows you've missed on <strong><a href="https://aka.ms/DevSlopShow">YouTube</a></strong>.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Learn <i>With</i> Us</h2>
        <p>Find out more about what DevSlop can teach you. Check out our <a asp-area="" asp-controller="Home" asp-action="Schedule">teaching schedule</a>.</p>
    </div>
</div>